body{
    font: 20px arial;
    
}

.navbar{
    background-color: #F53F3F;
}

.home{
    background-color: #D8E0E4;
    
}

.margin{
    padding-top: 30px;
    padding-bottom: 50px;
}

.features{
    background-color: #2BA4EA;
    
}

.bg-footer{
    background-color: #000000;
}